# Prevent this warning to appear during pnpm install:
# - Falling back to copying packages from store
# - cross-device link not permitted
# Because docker mount is cross-device and can't hardlink across device.
# So copying between store (mounted cache) and virtual store (node_modules/.pnpm) is expected
# See the Dockerfile file
# Ref: https://github.com/pnpm/pnpm/issues/6064#issuecomment-1452876395
package-import-method = clone-or-copy
